*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html, main{
  height: 100%;
}
h1{
  color: white;
}
button:focus{
  outline: none;
}
button{
  background: rgba(255, 255, 255, 0.2);
  border: none;
}
button:hover{
  background: rgba(255, 255, 255, 0.5);
}
.d-flex{
  display: flex;
}
.align-horizontal-center{
  justify-content: center;
}
.align-vertical-center{
  align-items: center;
}
.align-items-stretch{
  align-items: stretch;
}
.justify-content-space-between{
  justify-content: space-between;
}
.h-100{
  height: 100%;
}
.w-100{
  width: 100%;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-direction-column{
  flex-direction: column;
}
.flex-direction-row{
  flex-direction: row;
}
.blur {
  background-image: url("../img/background.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.title > h1{
  font-size: 4em;
  font-family: Consolas;
  padding-left: 5%;
}
.calculator{
  width: 450px;
  margin-top: 5%;
}
.display{
  margin: 1%;
}
.display > input{
  width: 85%;
  background: rgba(255, 255, 255, 0.45);
  border: none;
  height: 75px;
  font-size: 75px;
  font-family: Consolas;
  color: white;
  text-align: right;
}
.display > button{
  width: 25%;
  height: 75px;
  margin-right: 2%;
}
.display > input:focus{
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}
.numpad{
  width: 100%;
}
.numpad > button{
  width: 100px;
  height: 100px;
  margin: 1%;
}
.numpad > button, .display > button{
  font-size: 24px;
  font-family: Consolas;
}
